.criminal__list {
    display: flex;
    flex-wrap: wrap;
}

.criminal__card {
    font-size: small;
    margin: .5%;
    padding: 1.5%;
    border: 1.5px solid whitesmoke;
    width: 15rem;
}

.criminal__name {
    margin: 0 0 .5rem 0;
}

ul {
    margin: 0;
    list-style-type: circle;
}

.criminal__alibiButton {
    margin: 1rem 0 .5rem 0;
}

.criminal__alibiDialogBox {
    font-size: small;
    border: 1px solid dimgrey;
}

.criminal__alibiAssociate {
    padding: .5rem;
}