.facility__list {
    display: flex;
    flex-wrap: wrap;
}

.facility__card {
    font-size: small;
    margin: .5%;
    padding: 1.5%;
    background-color: #F9F4E9;
    color: dimgrey;
    border: 1.5px solid dimgrey;
    width: 15rem;
}

.facility__name {
    margin: 0 0 .5rem 0;
}

#showFacilitiesButton { 
    background-color: #DBBE79; 
    white-space: nowrap;
    margin: 0 1rem 0 0;
}