.container__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    width: 25rem;
    margin: 0;
    padding: .25rem;
}

#crimeSelect, 
#officerSelect {
    background-color: #DBBE79;
    width: 10rem;
}