#noteForm {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 0 1rem 0;
}

.container__noteHistory, 
.container__noteForm {
    padding: .25rem;
}

#noteForm--author, 
#noteForm--suspect, 
#noteForm--comment {
    background-color: #DBBE79;
    color: dimgrey;
    font-weight: normal;
    border: 1px dotted grey;
}

.container__noteButtons {
    display: flex;
    flex-direction: row;
}

#saveNoteButton, 
#showNotesButton {
    background-color: #DBBE79;
    border: 1px solid dimgrey;
    width: 6rem;
    margin: 0 1rem 0 0;
}

.note__card {
    font-size: small;
    margin: 0;
    padding: .5rem;
    font-size: small;
    border: none;
}

.button__deleteNote {
    background-color: #f3e9d2;
    color: dimgrey;
    font-weight: bold;
    border: .5px dotted dimgrey;
    margin: .5rem 0 0 0;
}