#noteForm {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 0 1rem 0;
}

#noteForm--saveNote {
    width: 5rem;
}

.container__noteHistory, 
.container__noteForm {
    padding: .25rem;
}



.note__card {
    padding: .5rem;
    font-size: small;
}