.officer__list {
    display: flex;
    flex-wrap: wrap;
}

.officer__card {
    font-size: small;
    margin: .5%;
    padding: 1.5%;
    background-color: #D5EFF8;
    color: dimgrey;
    border: 1.5px solid dimgrey;
    width: 15rem;
}

.officer__name {
    font-size: medium;
    font-weight: bold;
} */